extends layout

block content
	#wrapper
		#display
			include navi

			div.container

				div.jumbotron
					h1= apptitle
					p Welcome to #{apptitle}
					p
						a.btn.btn-primary.btn-large Log in

