extends layout

block content

	#wrapper
		#display
			include navi

			script(type='text/javascript', src='/javascripts/issue.js')	

			<input id="id" type="hidden" value="#{issue.id}"/>

			div.container

				h3#title #{issue.title}
				p #{issue.content}