extends layout

block content

	#wrapper
		#display
			include navi

			script(type='text/javascript', src='/javascripts/issue.js')	

			<input id="id" type="hidden" value="#{issue.id}"/>

			div.container

				h3#title #{issue.title}
				span#status.label.label-success #{issue.status.name}

				p#content #{issue.content}

				div#comments

				div#newComment
					a#addComment.btn.btn-primary add comment

		include footer