doctype 5
html
  head
    title= apptitle    
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')    
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery-1.10.2.js')
    script(type='text/javascript', src='/lib/bootstrap/js/bootstrap.js')

  body
    block content