extends layout

block content

	#wrapper
		#display
			include navi

			div.container

				h3 List of projects (#{listprojects.length})

				ul.list-group

					- each project, i in listprojects			

						li.list-group-item #{project.name}


		include footer