extends layout

block content

	#wrapper
		#display
			include navi

			div.container

				h3 List of users (#{listusers.length})

				ul.list-group

					- each user, i in listusers			

						li.list-group-item #{user.login} #{user.email}


		include footer