extends layout

block content

	#wrapper
		#display
			include navi

			div.container

				b List of issues (#{listissues.length})

				- each issue in listissues			
					p  <a href='/issue/#{issue._id}'> #{issue.title} </a> #{issue.content} 

