#navi
	script(type='text/javascript', src='/javascripts/navi.js')	
	div.navbar.navbar-fixed-top
		ul.nav.navbar-nav
			li <a href='/' data-toggle="nav"> Welcome </a>
			li <a href='/listissue' data-toggle="nav"> Issues List </a>
			li <a href='/newissue' data-toggle="nav"> New Issue </a>
			li <a href='/newproject' data-toggle="nav"> New Project </a>
			li <a href='/listprojects' data-toggle="nav"> Projects List </a>
			li <a href='/newuser' data-toggle="nav"> New User </a>
			li <a href='/listusers' data-toggle="nav"> Users List </a>