extends layout

block content
    #wrapper
        #display
            include navi

            div.container
            
                p <b>New issue form</b>

                form(method='post')
                 | Create new issue
                 div
                    select(name='projectId')
                        - each project in projects
                            option(value=project._id) #{project.name}
                 div
                    input(type='text', name='title', size='50')
                 div
                    textarea(name='content', rows='10', cols='50')
                 div
                    input(type='submit', value='Save')
        